.property_section{
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 168%;
    width: 100%;
}

@media (max-width: 1150px) {
    .property_section{
        flex-wrap: wrap;
        top: 170%;
    }
}
@media (max-width: 843px){
    .property_section{
        position: relative;
        background-color: #e9e9e9;
    }
}